* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.calendar {
  //width: 250px;
}

.calendar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar__header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.calendar__select {
  height: 100%;
  width: 100%;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.calendar__month-select, .calendar__year-select {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #33aeff;
    font-weight: bold;
  }
}

.calendar__btn {
  padding: 0;
  margin: 2px;
  cursor: pointer;
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  background: none;
  width: 32px;
  height: 32px;
  transition: .2s;
  &:focus{
    outline:none;
  }
  &:active {
    background: darken(#fff, 10%);
  }
}

.calendar__btn-img {
  width: 100%;
  height: 100%;
  &_rotate180 {
    transform: rotate(180deg);
  }
}

.calendar__body {
  width: 100%;
}

.calender__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.calendar__body-header {
  background: #ebebeb;
  & tr th:first-child {
    border-left: 1px solid #dbdbdb;
  }
  & tr th:last-child {
    border-right: 1px solid #dbdbdb;
  }
}

.calendar__column-title {
  font-weight: bold;
  padding: 2px 0;
}

.calendar__column-title {
  width: 14.285%;
}

.calendar__tbody-cell {
  border: 1px solid #dbdbdb;
  text-align: center;
  height: 46px;
}

.calendar__tbody-cell {
  cursor: pointer;
  &:hover {
    background-color: darken(#fff, 10%);
  }
  &_selected {
    background-color: #71d1ff;
    &:hover{
      background-color: #71d1ff;
    }
  }
  &_inactive {
    color: darken(#fff, 50%)
  }
}



.calendar__tbody-cell_current {
  border: 2px solid #71d1ff;
}